ul {
	list-style-type: none;
}

* {
	box-sizing: border-box;
}

body {
	font-family: 'Courier', sans-serif;
	background-color: whitesmoke;
}
.groceries {
	max-width: 400px;
	margin: 2rem auto;
	box-shadow: 1px 1px 10px lightgray;
	padding: 2rem;
	background-color: white;
}

.groceries__list { 
	padding-left: 0;
}

.groceries__title {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
}

.groceries__item {
	padding: 1rem 0 1rem;
}

.groceries__item__price {
	text-align: right;
}

.grid--container {
	display: grid;
	grid-template-columns: 5fr 1fr 1fr;
	gap: 0.5rem;
}

.grid--container--total {
	font-weight: bolder;
	padding: 2rem 0 1rem;
	display: grid;
	grid-template-columns: 15fr 1fr;
}
